services:
  db:
    image: mysql:latest
    container_name: rent-db


    environment:
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}


    volumes:
      - /opt/mysql_db_data:/var/lib/mysql


    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      start_interval: 10s
      start_period: 10s
      timeout: 5s
      retries: 3

    ports:
      - "33066:3306"

  web:
      build:
        dockerfile: Dockerfile
      restart: always
      container_name: my_final_prjct
      ports:
        - "8000:8000"
      depends_on:
        - db
      environment:
        - MYSQL_HOST=db
        #- DJANGO_SETTINGS_MODULE=core.settings
        - MYSQL_DATABASE=${MYSQL_DATABASE}
        - MYSQL_USER=${MYSQL_USER}
        - MYSQL_PASSWORD=${MYSQL_PASSWORD}
        - MYSQL_ROOT_PASSWORD=${MYSQL_ROOT_PASSWORD}
        - MYSQL_PORT=3306


#  app:
#    depends_on:
#      - db:
#          condition:
#            healthy


volumes:
  mysql_db_data:
